.item {
  display: flex;
  flex-direction: column;
  height: 160px;

  padding: 16px;
  border: 1px solid var(--elements-color);
  background: var(--white-color);
  gap: 16px;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;

  &:hover {
    border-color: var(--primary-color);
    box-shadow: 0 3px 13px 0 var(--box-shadow-color);
  }

  &:has(.item__remove:hover) {
    box-shadow: 0 3px 13px 0 var(--box-shadow-color);
    border-color: var(--red-color);
  }

  @include on-tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 128px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
  }

  &__img_wrapper {
    display: block;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    flex-shrink: 0;
  }

  &__img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  &__name {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    @include on-tablet {
      gap: 32px;
    }
  }

  &__quantity {
    display: flex;
    flex-direction: row;
    width: 96px;
    justify-content: space-between;
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
    width: 32px;
  }

  &__btn {
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    border-color: var(--icons-color);

    &:disabled {
      cursor: default;
      border-color: var(--elements-color);
    }
  }

  &__price {
    display: flex;
    width: 80px;
    justify-content: end;
    overflow: hidden;
  }

  &__remove {
    border: none;

    @include hover(color, var(--red-color));
  }
}
