.summary {
  grid-column: 1 / -1;
  padding: 24px;
  border: 1px solid var(--elements-color);
  background: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition:
    border-color $duration,
    box-shadow $duration;

  &:hover {
    border-color: var(--primary-color);
    box-shadow: 0 3px 13px 0 var(--box-shadow-color);
  }

  @include on-desktop {
    grid-column: 17 / -1;
    grid-row: 1;
    align-self: flex-start;
  }

  &__total {
    text-align: center;
    margin-bottom: 16px;
  }

  &__text {
    margin-top: 8px;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: var(--elements-color);
    margin-bottom: 16px;
  }

  &__checkout {
    width: 100%;
    height: 48px;
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
    font-weight: 600;
    cursor: pointer;

    @include hover(box-shadow, 0 3px 13px 0 var(--box-shadow-color));
  }
}
