.skeleton {
  &__price {
    height: 40px;
    width: 120px;
    border-radius: 8px;
    margin: 0 auto;
  }

  &__text {
    height: 20px;
    width: 160px;
    margin: 8px auto 0;
    border-radius: 4px;
  }

  &__checkout {
    height: 48px;
    width: 100%;
    border-radius: 0;
  }
}
