.summary {
  grid-column: 1 / -1;
  padding: 24px;
  border: 1px solid $elements-color;
  background: $white-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;

  &:hover {
    border-color: $primary-color;
    box-shadow: 0 3px 13px 0 $box-shadow-color;
  }

  @include on-desktop {
    grid-column: 17 / -1;
    grid-row: 1;
    align-self: flex-start;
  }

  &__total {
    text-align: center;
    margin-bottom: 16px;
  }

  &__text {
    margin-top: 8px;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: $elements-color;
    margin-bottom: 16px;
  }

  &__checkout {
    width: 100%;
    height: 48px;
    background: $primary-color;
    color: $white-color;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 3px 13px 0 $box-shadow-color;
    }
  }
}
