.trigger {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;

  background-color: var(--white-color);
  border: 1px solid var(--elements-color);
  border-radius: 0;

  color: var(--primary-color);

  cursor: pointer;
  transition: all $duration ease;

  &[data-placeholder] {
    color: var(--secondary-color);
  }

  @include hover(border-color, var(--secondary-color));

  &:focus,
  &[data-state='open'] {
    outline: none;
    border: 1px solid var(--primary-color);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--secondary-color);
  opacity: 0.5;
  transition: transform $duration;

  .trigger[data-state='open'] & {
    transform: rotate(180deg);
  }
}

.content {
  z-index: 50;
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
  box-sizing: border-box;
  overflow: hidden;

  background-color: var(--white-color);
  border: 1px solid var(--elements-color);
  border-radius: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

  &[data-state='open'] {
    animation: fadeIn 0.15s ease-out;
  }
  &[data-state='closed'] {
    animation: fadeOut 0.1s ease-in;
  }
}

.viewport {
  padding: 0;
}

.item {
  position: relative;
  display: flex;
  width: 100%;
  cursor: pointer;
  user-select: none;
  align-items: center;
  padding: 6px 12px;

  color: var(--secondary-color);
  outline: none;

  &:focus,
  &[data-highlighted] {
    background-color: var(--bg-hover-color);
    color: var(--primary-color);
  }

  &[data-state='checked'] {
    color: var(--primary-color);
  }

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}

.label {
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  color: var(--secondary-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-2px);
  }
}
