.title {
  margin-bottom: 4px;
  margin-top: 24px;

  @include on-tablet {
    margin-top: 40px;
  }
}

.count {
  margin-bottom: 32px;

  @include on-tablet {
    margin-bottom: 40px;
  }
}

.emptyImage {
  display: block;
  margin-inline: auto;
  height: 40vh;

  margin-top: 24px;

  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-10px);
  }

  @include on-tablet {
    margin-top: 40px;
  }
}
