.title {
  margin-bottom: 4px;
  margin-top: 24px;

  @include on-tablet {
    margin-top: 40px;
  }
}

.count {
  margin-bottom: 32px;

  @include on-tablet {
    margin-bottom: 40px;
  }
}

.count--skeleton {
  height: 21px;
  width: 90px;
  border-radius: 4px;
}

.emptyImage {
  display: block;
  margin-inline: auto;
  height: 40vh;
  object-fit: contain;

  margin-top: 24px;

  transition: transform $duration ease;

  @include hover(transform, translateY(-10px));

  @include on-tablet {
    margin-top: 40px;
  }
}
