.home-slider {
  @include page-grid;
  margin-top: 24px;
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 32px);

  @include on-tablet {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  &__content {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  &__container {
    overflow: hidden;

    @include on-tablet {
      width: 100%;
    }

    @include on-desktop {
      width: 1040px;
    }
  }

  &__swiper {
    width: 100%;
    aspect-ratio: 1 / 1;

    @include on-tablet {
      aspect-ratio: 2.6;
    }

    @include on-desktop {
      aspect-ratio: 2.6;
    }
  }

  &__bg {
    position: absolute;
    width: 130%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &__slide-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 10px 10px;
  }

  &__text {
    display: none;
    text-align: center;
    text-shadow: 1px 1px 3px $icons-color;

    @include on-tablet {
      display: block;
      line-height: 40px;
      width: 50%;
      position: absolute;
      align-self: flex-start;
    }

    @include on-desktop {
      font-size: 48px;
      line-height: 80px;
    }
  }

  &__img {
    height: 100%;
    object-fit: contain;

    @include on-tablet {
      width: 50%;
      align-self: flex-end;
    }
  }

  &__nav-btn {
    display: none;
    width: 32px;
    background: $bg-hover-color;
    border: 1px solid $elements-color;
    color: #313237;
    cursor: pointer;
    font-size: 20px;
    transition: all $duration ease;
    align-self: stretch;
    flex-shrink: 0;

    &:hover {
      background: $elements-color;
      color: #000;
    }

    &:active {
      background: $white-color;
    }

    @include on-tablet {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__pagination-wrapper {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 8px;

    :global(.swiper-pagination-bullet) {
      width: 12px;
      height: 4px;
      background: $elements-color;
      opacity: 1;
      border-radius: 0;
      cursor: pointer;
      transition: all $duration ease;

      &:global(.swiper-pagination-bullet-active) {
        background: $primary-color;
        width: 24px;
      }
    }
  }
}
