.home-slider {
  @include page-grid;
  margin-top: 24px;
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 32px);

  @include on-tablet {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  &__content {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  &__container {
    width: 100%;
    overflow: hidden;
    flex: 1; //1
    min-width: 0; //2
    position: relative;

    @include on-tablet {
      width: 100%;
    }

    @include on-desktop {
      width: 1040px;
    }
  }

  &__swiper {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;

    @include on-tablet {
      height: 189px;
    }

    @include on-desktop {
      height: 400px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  &__slide-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__nav-btn {
    display: none;
    width: 32px;
    background: #fafbfc;
    border: 1px solid #e2e6e9;
    color: #313237;
    cursor: pointer;
    font-size: 20px;
    transition: all $duration ease;
    align-self: stretch;
    flex-shrink: 0;

    &:hover {
      background: #bb5507;
      color: #000;
    }

    @include on-tablet {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      background: #f1f2f4;
      color: #000;
    }

    &:global(.swiper-button-disabled) {
      opacity: 0.3;
      cursor: default;
    }
  }

  &__pagination-wrapper {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 8px;

    :global(.swiper-pagination-bullet) {
      width: 12px;
      height: 4px;
      background: #e2e6e9;
      opacity: 1;
      border-radius: 0;
      cursor: pointer;
      transition: all $duration ease;
      margin: 0 !important;

      &:global(.swiper-pagination-bullet-active) {
        background: #313237;
        width: 24px;
      }
    }
  }
}
