.slider {
  display: flex;
  align-items: center;
  gap: 16px;
}

.arrow {
  width: 32px;
  height: 32px;
}

.viewport {
  flex: 1;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 200px; // тимчасово
  background: #ddd;
}
