.card {
  display: grid;
  grid-column: span 4;

  @include on-desktop {
    grid-column: span 8;
  }
}

.linkWrapper {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;

  &:hover {
    .video {
      opacity: 1;
    }
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

%media-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.image {
  @extend %media-content;
  z-index: 1;
  opacity: 1;
}

.video {
  @extend %media-content;
  z-index: 2;
  opacity: 0;
}

.cardTitle {
  margin-top: 24px;
}

.count {
  margin-top: 4px;
}
