.title {
  margin-bottom: 8px;
  margin-top: 24px;

  @include on-tablet {
    margin-top: 40px;
  }
}

.count {
  margin-bottom: 32px;
  @include on-tablet {
    margin-bottom: 40px;
  }
}

.count--skeleton {
  height: 21px;
  width: 90px;
  border-radius: 4px;
}

.filters {
  @include page_grid;
  margin-bottom: 24px;
  row-gap: 16px;

  &__group {
    display: contents;
  }

  &__item {
    &--empty {
      display: none;

      @include on-desktop {
        display: block;
        grid-column: span 5;
      }
    }

    &--small {
      grid-column: span 2;

      @include on-tablet {
        grid-column: span 2;
      }
    }

    &--medium {
      grid-column: span 2;

      @include on-tablet {
        grid-column: span 3;
      }
    }

    &--large {
      grid-column: span 2;

      @include on-tablet {
        grid-column: span 4;
      }
    }

    &--huge {
      grid-column: span 4;

      @include on-tablet {
        grid-column: span 5;
      }
    }
  }
}

.pagination {
  margin-bottom: 80px;
}
