.main {
  min-height: calc(100vh - $header-height-mobile - $footer-height-mobile);

  @include on-tablet {
    min-height: calc(100vh - $header-height-tablet - $footer-height-tablet);
  }

  max-width: 1200px;
  margin: 0 auto;

  padding-left: 16px;
  padding-right: 16px;

  @include on-tablet {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include on-desktop {
    padding: 0;
  }
}
