.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style: none;
  padding: 0;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    height: 32px;
    padding: 0;
    border: 1px solid var(--elements-color);
    background-color: transparent;
    color: var(--primary-color);
    font-size: 14px;
    cursor: pointer;
    transition: all $duration ease;

    &:hover:not(&--disabled) {
      border-color: var(--primary-color);
    }

    svg {
      width: 16px;
      height: 16px;
    }

    &--disabled {
      color: var(--elements-color);
      border-color: var(--elements-color);
      cursor: default;
      pointer-events: none;

      svg {
        color: var(--elements-color);
      }
    }
  }

  &__item {
    &--selected {
      .pagination__link {
        background-color: var(--primary-color);
        color: var(--white-color);
        border-color: var(--primary-color);

        &:hover {
          background-color: var(--primary-color);
          border-color: var(--primary-color);
          color: var(--white-color);
        }
      }
    }
  }
}
