.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}

.categories {
  margin-top: 24px;

  display: grid;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  height: 160px;
  background: #ddd;
  border-radius: 8px;
}

.cardTitle {
  margin-top: 16px;
  font-weight: 600;
  font-size: 20px;
}

.count {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.7;
}

@include on-tablet {
  .title {
    font-size: 32px;
    line-height: 41px;
  }

  .categories {
    margin-top: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@include on-desktop {
  .categories {
    margin-top: 40px;
  }
}
