.container {
  width: 100%;
  overflow: visible;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.button {
  justify-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid var(--secondary-color);

  &:hover {
    box-shadow: 0 3px 13px 0 var(--box-shadow-color);
    border-color: var(--primary-color);
  }
}

.swiper {
  padding: 10px;

  width: 237px;

  @include on-tablet {
    width: 212;
  }

  @include on-desktop {
    width: 272;
  }
}

.div :global(.swiper-slide) {
  height: auto;
  display: flex;
}

.div :global(.swiper-wrapper) {
  padding: 10px;
}
