.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 24px 0;
  font-size: 48px;
  font-weight: $fw-bold;
  color: $primary-color;
}

.button {
  padding-inline: 24px;
  padding-block: 12px;
  border: 1px solid $elements-color;
  box-sizing: border-box;
  color: $icons-color;

  &:hover {
    border: 1px solid $primary-color;
  }
}
