.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 24px 0;
  font-size: 48px;
}

.button {
  padding-inline: 24px;
  padding-block: 12px;
  border: 1px solid rgb(226, 230, 233);
  box-sizing: border-box;
  color: #89939a;

  &:hover {
    border: 1px solid rgb(49, 50, 55);
  }
}
