.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 24px 0;
}

.button {
  padding-inline: 24px;
  padding-block: 12px;
  border: 1px solid var(--elements-color);
  box-sizing: border-box;
  color: var(--icons-color);

  @include hover(border, 1px solid var(--primary-color));
}
