.welcome {
  margin-top: 24px;
}

.title {
  font-family: 'Mont', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;

  margin-bottom: 24px;
}

@include on-tablet {
  .welcome {
    margin-top: 32px;
  }

  .title {
    font-size: 48px;
    line-height: 56px;

    margin-bottom: 32px;
  }
}

@include on-desktop {
  .welcome {
    margin-top: 56px;
  }

  .title {
    margin-bottom: 56px;
  }
}
