.about {
  margin-bottom: 16px;
  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: 1 / 13;
  }
}

.specs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 56px;
  grid-column: 1 / -1;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-desktop {
    grid-column: 14 / -1;
    margin-bottom: 0;
  }
}

.tech {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.article {
  margin-bottom: 32px;
  animation: fadeIn 0.4s ease;
}

.title {
  margin-bottom: 16px;
}

.title_tech {
  margin-bottom: 8px;
}

.line {
  margin-bottom: 30px;

  @include on-tablet {
    margin-bottom: 25px;
  }
}

.value {
  text-align: end;
}

.readBtn {
  width: 100%;
  height: 40px;
  margin: 16px 0 24px;

  background-color: var(--primary-color);
  color: var(--white-color);

  border: none;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 3px 13px 0 var(--box-shadow-color);
  }

  &:active {
    transform: scale(0.98);
  }
}

.active {
  background-color: var(--elements-color);
  color: var(--primary-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
