.badge-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.icon-badge {
  position: absolute;
  top: -3px;
  right: -3px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 14px;
  height: 14px;

  border-radius: 50%;
  background-color: var(--red-color);
  color: #fff;

  font-size: 9px;
  font-weight: 700;

  border: 1px solid var(--white-color);
  box-sizing: border-box;
}
