$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$secondary-accent-color: var(--secondary-accent-color);
$bg-hover-color: var(--bg-hover-color);
$elements-color: var(--elements-color);
$icons-color: var(--icons-color);
$white-color: var(--white-color);
$green-color: var(--green-color);
$red-color: var(--red-color);
$box-shadow-color: var(--box-shadow-color);
$box-shadow-red-color: var(--box-shadow-red-color);

$tablet-min-width: 640px;
$desktop-min-width: 1200px;
$grid-column-gap: 16px;
$grid-row-gap: 40px;

$font-family: 'Mont', sans-serif;

$fw-regular: 500;
$fw-regular-plus: 600;
$fw-semibold: 700;
$fw-bold: 800;

$header-height-tablet: 64px;
$footer-height-tablet: 96px;
$header-height-mobile: 48px;
$footer-height-mobile: 257px;

$duration: 0.3s;
