$primary-color: #313237;
$secondary-color: #89939a;
$secondary-accent-color: #f4ba47;
$bg-hover-color: #fafbfc;
$elements-color: #e2e6e9;
$icons-color: #b4bdc3;
$white-color: #ffffff;
$green-color: #27ae60;
$red-color: #eb5757;

$tablet-min-width: 640px;
$desktop-min-width: 1200px;
$grid-column-gap: 16px;
$grid-row-gap: 40px;

$font-family: 'Mont', sans-serif;

$fw-regular: 500;
$fw-semibold: 700;
$fw-bold: 800;

$header-height-tablet: 64px;
$footer-height-tablet: 96px;
$header-height-mobile: 48px;
$footer-height-mobile: 257px;
