@import './variables';
@import './reset';
@import './mixins';

body {
  font-family: 'Mont', sans-serif;
  background-color: var(--bg-color);
  transition: background-color 0.3s;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
