@import './reset';
@import './mixins';

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Mont', sans-serif;
  background-color: var(--bg-color);
  transition: background-color 0.3s;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1136px;
  margin: 0 auto;

  padding-left: 16px;
  padding-right: 16px;

  @include on-tablet {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include on-desktop {
    padding-left: 32px;
    padding-right: 32px;
  }
}
