@import '@/styles/variables';
@import '@/styles/mixins';

.contacts {
  padding-bottom: 40px;
}

.title {
  margin-block: 32px;
}

.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);

  @include on-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  border: 1px solid $elements-color;
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}

.photoWrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-bottom: 1px solid $elements-color;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.role {
  font-weight: 700;
  text-transform: uppercase;
}

.about {
  line-height: 1.5;
  margin-bottom: 12px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: 1px solid $elements-color;
  padding-top: 16px;
}

.link {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 12px;
  text-decoration: none;
  color: $primary-color;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}
