.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  background: $white-color;

  border-bottom: 1px solid $elements-color;
  height: $header-height-mobile;

  @include on-tablet {
    height: $header-height-tablet;
  }
}

.flex {
  display: flex;
  align-items: center;
  padding-left: 16px;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 28px;
  width: auto;
  display: block;
}

.nav {
  display: none;
}

.menu {
  display: flex;
  gap: 32px;
}

.actions {
  display: none;
}

.burger {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1 / 1;

  border-left: 1px solid $elements-color;
  cursor: pointer;

  @include on-tablet {
    // height: 100%; // Inherited
  }
}

.burger button {
  cursor: pointer;
  background: transparent;
  border: none;
}

@include on-tablet {
  .flex {
    padding-left: 16px;
  }

  .nav {
    display: flex;
    margin-left: 32px;
  }

  .actions {
    display: flex;
    margin-left: auto;

    a + a {
      margin-left: -1px;
    }

    a:hover {
      position: relative;
      z-index: 10;
    }
  }

  .burger {
    display: none;
  }
}

@include on-desktop {
  .flex {
    padding-left: 24px;
  }

  .nav {
    margin-left: 48px;
  }
}

.link {
  display: flex;
  align-items: center;
  color: $secondary-color;
  padding-block: 26px;

  @include hover(color, $primary-color);
}

.isActive {
  color: $primary-color;
  position: relative;
  margin: 0;
}

.isActive::after {
  position: absolute;
  color: $primary-color;
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -1px;
  background-color: $primary-color;
}
