@import '@/styles/variables';
@import '@/styles/mixins';

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  background: $white-color;
  border-bottom: 1px solid $elements-color;
  height: $header-height-mobile;

  @include on-tablet {
    height: $header-height-tablet;
  }
}

.flex {
  display: flex;
  align-items: center;
  padding-left: 16px;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 28px;
  width: auto;
  display: block;
}

.nav {
  display: none;
}

.menu {
  display: flex;
  gap: 32px;
}

.actions {
  display: none;
}

.userSection {
  display: flex;
  align-items: center;
  height: 100%;
  border-left: 1px solid $elements-color;
}

.accountInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  height: 100%;
}

.logoutBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondary-color;
  transition: color 0.3s ease;

  &:hover {
    color: $primary-color;
  }
}

.loginLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1 / 1;
  color: $secondary-color;
  transition: color 0.3s ease;

  &:hover {
    color: $primary-color;
  }
}

.burger {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-left: 1px solid $elements-color;
  cursor: pointer;
}

.burger button {
  cursor: pointer;
  background: transparent;
  border: none;
}

@include on-tablet {
  .flex {
    padding-left: 16px;
  }

  .nav {
    display: flex;
    margin-left: 32px;
  }

  .actions {
    display: flex;
    margin-left: auto;
    height: 100%;

    & > a,
    & > div {
      border-left: 1px solid $elements-color;
      height: 100%;
    }

    a:hover {
      position: relative;
      z-index: 10;
    }
  }

  .burger {
    display: none;
  }
}

@include on-desktop {
  .flex {
    padding-left: 24px;
  }

  .nav {
    margin-left: 48px;
  }
}

.link {
  display: flex;
  align-items: center;
  color: $secondary-color;
  padding-block: 26px;
  transition: color 0.3s ease;

  &:hover {
    color: $primary-color;
  }
}

.isActive {
  color: $primary-color;
  position: relative;
  margin: 0;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -1px;
    background-color: $primary-color;
  }
}
