.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  transition: all $duration ease-in-out;
  border: 1px solid var(--elements-color);
  background-color: var(--white-color);
  padding: 0;
  aspect-ratio: 1;

  // Розміри
  &--size-32 {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }
  &--size-40 {
    width: 40px;
    height: 40px;
  }
  &--size-48 {
    width: 48px;
    height: 48px;
  }
  &--size-64 {
    width: 64px;
    height: 64px;
  }

  // Форми
  &--square {
    border-radius: 0px;
  }
  &--circle {
    border-radius: 50%;
    border: 1px solid var(--elements-color);
    box-shadow: inset 0 0 0 2px var(--white-color);
  }

  // Варіанти
  &--default {
    @include hover(border-color, var(--primary-color));
  }

  &--selected {
    &.button--circle {
      border: 1px solid var(--primary-color);
      box-shadow: inset 0 0 0 1px var(--white-color);
    }

    &.button--square {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      color: var(--white-color);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border-color: var(--elements-color);
  }
}
