.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 32px;
  width: 100%;
  border: 1px solid var(--elements-color);
  transition:
    border-color $duration,
    box-shadow $duration;

  &:hover {
    border-color: var(--primary-color);
    box-shadow: 0 3px 13px 0 var(--box-shadow-color);
    .image {
      transition: transform $duration;
      transform: scale(1.1);
    }
  }
}

.image {
  display: block;
  height: 208px;
  margin: 0 auto;
  object-fit: contain;
  cursor: pointer;

  transition: transform $duration;

  @include on-tablet {
    height: 196px;
  }
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;

  padding-top: 16px;
  cursor: pointer;
}

.price {
  display: flex;
  gap: 8px;
}

.separateLine {
  border: none;
  border-top: 1px solid var(--elements-color);
  width: 100%;
}

.details {
  padding-block: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.label {
  font-weight: $fw-regular-plus;
}

.value {
  font-weight: $fw-regular-plus;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.button {
  width: 100%;
  height: 40px;

  color: var(--white-color);
  font-size: 14px;
  font-weight: $fw-semibold;

  background-color: var(--primary-color);
  border: none;
  transition: box-shadow 300ms;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 13px 0 var(--box-shadow-color);
  }
}

.active {
  color: var(--green-color);

  background-color: var(--white-color);
  border: 1px solid var(--elements-color);
}

.favorite {
  aspect-ratio: 1 / 1;
}
