.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 32px;
  width: 100%;
  border: 1px solid $elements-color;
  background-color: var(--white-color);
}

.image {
  height: 208px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;

  @include on-tablet {
    height: 196px;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 58px;
  padding-top: 16px;
}

.titleLine {
  height: 16px;
  width: 100%;
  border-radius: 4px;
}

.titleLineShort {
  height: 16px;
  width: 60%;
  border-radius: 4px;
}

.priceContainer {
  display: flex;
  height: 40px;
  align-items: center;
}

.price {
  height: 32px;
  width: 80px;
  border-radius: 4px;
}

.separateLine {
  border: none;
  border-top: 1px solid $elements-color;
  width: 100%;
}

.details {
  padding-block: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 14px;
  }
}

.label {
  height: 100%;
  width: 60px;
  border-radius: 2px;
}

.value {
  height: 100%;
  width: 80px;
  border-radius: 2px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.button {
  width: 100%;
  height: 40px;
  border-radius: 0;
}

.favorite {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 0;
}
