.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 32px;
  width: 100%;
  border: 1px solid $elements-color;

  &:hover {
    transition: border-color 0.3s;
    border-color: $primary-color;

    .image {
      transform: scale(1.1);
    }
  }
}

.image {
  display: block;
  height: 208px;
  margin: 0 auto;
  object-fit: contain;
  cursor: pointer;

  transition: transform 150ms;

  @include on-tablet {
    height: 196px;
  }
}

.title {
  display: block;
  height: 58px;
  padding-top: 16px;

  cursor: pointer;
}

.price {
  display: flex;
  gap: 8px;
}

.separateLine {
  border: none;
  border-top: 1px solid $elements-color;
  width: 100%;
}

.details {
  padding-block: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__container {
    display: flex;
    justify-content: space-between;
  }
}

.info {
  font-weight: $fw-regular-plus;
}

.value {
  font-weight: $fw-regular-plus;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.button {
  width: 100%;
  height: 40px;

  color: $white-color;
  font-size: 14px;
  font-weight: 700;

  background-color: $primary-color;
  border: none;
  transition: box-shadow 300ms;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 13px 0 $box-shadow-color;
    color: $white-color;
  }
}

.active {
  width: 100%;
  height: 40px;

  color: $green-color;
  font-size: 14px;
  font-weight: 700;

  background-color: $white-color;
  border: none;
  border: 1px solid $elements-color;

  transition: box-shadow 300ms;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 13px 0 $box-shadow-color;
  }
}

.favorite {
  aspect-ratio: 1 / 1;
}
