.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}

.controls {
  display: flex;
  gap: 8px;
}

.products {
  margin-top: 24px;

  display: flex;
  gap: 16px;
  overflow: hidden;
}

@include on-tablet {
  .title {
    font-size: 32px;
    line-height: 41px;
  }

  .products {
    margin-top: 32px;
  }
}

@include on-desktop {
  .products {
    margin-top: 40px;
  }
}
