@import '@/styles/variables';
@import '@/styles/mixins';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding: 20px;
}

.card {
  background: $white-color;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  border: 1px solid $elements-color;
}

.title {
  margin-bottom: 32px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-size: 12px;
    font-weight: 700;
    color: $secondary-color;
  }

  input {
    padding: 12px;
    background: $white-color;
    border: 1px solid $icons-color;
    outline: none;

    &:focus {
      border-color: $primary-color;
    }
  }
}

.error {
  color: #eb5757;
  font-size: 12px;
}

.submitBtn {
  background-color: $primary-color;
  color: $white-color;
  padding: 14px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.9;
  }
}
