.action {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 8 / -1;
  }

  @include on-desktop {
    grid-column: 14 / 21;
  }
}

.colors_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  @include on-desktop {
    width: 513px;
  }
}

.colors {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.capacity {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.value {
  display: flex;
  align-items: center;
  padding-inline: 8px;
  height: 32px;
  background-color: $white-color;
  border: 1px solid $primary-color;
}

.price {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;

  @include on-desktop {
    width: 320px;
  }
}

.line {
  margin-bottom: 24px;
}

.addToCart {
  display: flex;
  height: 48px;
  width: calc(100% - 48px);
  background-color: $primary-color;
  color: $white-color;
  align-items: center;
  justify-content: center;
}

.specs {
  display: flex;
  justify-content: space-between;
}

.mainSpecs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
