.action {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 8 / -1;
  }

  @include on-desktop {
    grid-column: 14 / 21;
  }
}

.colors_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  @include on-desktop {
    width: 513px;
  }
}

.colors {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.capacity {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.value {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-inline: 8px;
  height: 32px;
  background-color: $white-color;
  border: 1px solid $elements-color;

  @include hover(border, 1px solid $primary-color);
}

.activeCapacity {
  background-color: $primary-color;
  border: 1px solid $primary-color;
}

.price {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;

  @include on-desktop {
    width: 320px;
  }
}

.line {
  margin-bottom: 24px;
}

.button {
  width: 100%;
  height: 48px;

  color: $white-color;
  font-size: 14px;
  font-weight: $fw-semibold;

  background-color: $primary-color;
  border: none;
  cursor: pointer;

  @include hover(box-shadow, 0 3px 13px 0 $box-shadow-color);
}

.active {
  color: $green-color;

  background-color: $white-color;
  border: 1px solid $elements-color;
}

.specs {
  display: flex;
  justify-content: space-between;
}

.mainSpecs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
