.container {
  @include page-grid;
  margin-bottom: 56px;
  column-gap: 16px;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-desktop {
    margin-bottom: 80px;
  }
}

.about {
  margin-bottom: 16px;
  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: 1 / 13;
  }
}

.specs {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  grid-column: 1 / -1;
  gap: 8px;
  margin-bottom: 56px;

  @include on-tablet {
    margin-bottom: 64;
  }

  @include on-desktop {
    grid-column: 15 / -1;
    margin-bottom: 0;
  }
}

.tech {
  display: flex;
  justify-content: space-between;
}

.article {
  margin-bottom: 32px;
}

.title {
  margin-bottom: 16px;
}

.title_tech {
  margin-bottom: 8px;
}

.line {
  margin-bottom: 30px;

  @include on-tablet {
    margin-bottom: 25px;
  }
}

.slider {
  grid-column: 1 / -1;
}

.action {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 8 / -1;
  }

  @include on-desktop {
    grid-column: 15 / 21;
  }
}

.mainTitle {
  grid-column: 1 / -1;
  margin-bottom: 32px;

  @include on-tablet {
    margin-bottom: 40px;
  }
}

.colors_title {
  grid-column: 1/ -1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.colors {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.gray {
  background-color: #5f7170;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.capacity {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.value {
  display: flex;
  align-items: center;
  padding-inline: 8px;
  height: 32px;
  background-color: $white-color;
  border: 1px solid $primary-color;
}

.price {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;

  @include on-desktop {
    width: 320px;
  }
}

.addToCart {
  display: flex;
  height: 48px;
  width: 100%;
  background-color: $primary-color;
  color: $white-color;
  align-items: center;
  justify-content: center;

  @include on-tablet {
    width: 180px;
  }

  @include on-desktop {
    width: 263px;
  }
}

.product_gallery_wrapper {
  grid-column: 1 / -1;
  display: flex;
  width: 300px;
  margin: 0 auto;

  flex-direction: column;
  height: auto;
  gap: 16px;
  margin-bottom: 40px;

  @include on-tablet {
    flex-direction: row;
    grid-column: 1 / 8;
    height: 400px;
    margin: 0;
    width: 100%;
    max-width: 464px;

    margin-bottom: 91px;
  }

  @include on-desktop {
    flex-direction: row;
    grid-column: 1 / 13;
    height: 464px;
    width: 100%;
    margin-bottom: 91px;
    margin-left: 0;
  }
}

.thumbs_container {
  width: 100%;
  height: 64px;
  flex-shrink: 0;
  order: 2;

  @include on-tablet {
    width: 80px;
    height: 100%;
    order: 0;
  }
}

.myThumbsSlider {
  height: 100%;
  width: 100%;
}

.thumb_item {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
}

.thumb_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #fff;
}

.swiper-slide-thumb-active .thumb-item {
  border: 2px solid #000;
}

.main_container {
  grid-column: 1 / -1;
  height: 300px;
  width: 100%;
  order: 1;

  @include on-tablet {
    flex: 1;
    height: 100%;
  }
}

.myMainSlider {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

:global(.swiper-wrapper) {
  justify-content: space-between;
  @include on-tablet {
    width: 100% !important;
    max-width: 80px !important;
  }

  @include on-desktop {
    width: 80px !important;
  }
}
