.switcher_container {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  cursor: pointer;

  @include on-tablet {
    margin-right: 5px;
  }
}

.text {
  color: var(--switcher-text-color);
}
