.summary {
  grid-column: 1 / -1;
  padding: 24px;
  border: 1px solid #e2e6e9;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include on-tablet {
  }

  @include on-desktop {
    grid-column: 17 / -1;
    grid-row: 1;
    align-self: flex-start;
  }

  &__total {
    text-align: center;
    margin-bottom: 16px;
  }

  &__text {
    color: #89939a;
    font-size: 14px;
    margin-top: 8px;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: #e2e6e9;
    margin-bottom: 16px;
  }

  &__checkout {
    width: 100%;
    height: 48px;
    background: #313237;
    color: #fff;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #4a4d58;
    }
  }
}
