.text {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  color: inherit;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.red {
  color: var(--red-color);
}

.green {
  color: var(--green-color);
}

.white {
  color: var(--white-color);
}

.icons {
  color: var(--icons-color);
}

.inherit {
  color: inherit;
}

.h1 {
  font-weight: $fw-bold;
  font-style: Bold;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;

  @include on-tablet {
    font-size: 48px;
    line-height: 56px;
  }
}

.h2 {
  font-weight: $fw-bold;
  font-style: Bold;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }
}

.h3 {
  font-weight: $fw-semibold;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;

  @include on-tablet {
    font-weight: $fw-bold;
    font-style: Bold;
    font-size: 22px;
    line-height: 31px;
  }
}

.h4 {
  font-weight: $fw-semibold;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 20px;
    line-height: 26px;
  }
}

.uppercase {
  font-weight: $fw-bold;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.buttons {
  font-weight: $fw-semibold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

.body {
  font-family: $font-family;
  font-weight: $fw-regular;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

.small {
  font-weight: $fw-regular;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
}

$line-thickness: 1px;

.lineThroughWrapper {
  position: relative;
  display: inline-block;
  line-height: 1;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: $line-thickness;
    background-color: var(--secondary-color);
    transform: translateY(-50%);
    z-index: 1;
  }
}

.lineThroughText {
  position: relative;
  display: inline-block;
  z-index: 2;
  font-weight: 500;
  line-height: 1;
  padding: 0 4px;
  font-size: 22px;
  line-height: 31px;

  background: linear-gradient(
    to bottom,
    var(--secondary-color) 0%,
    var(--secondary-color) calc(50% - 1px),
    var(--white-color) calc(50% - 1px),
    var(--white-color) calc(50% + 1px),
    var(--secondary-color) calc(50% + 1px),
    var(--secondary-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
  -webkit-text-fill-color: transparent !important;
}
