.text {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  color: $primary-color;
}

.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

.red {
  color: $red-color;
}

.green {
  color: $green-color;
}

.white {
  color: $white-color;
}

.icons {
  color: $icons-color;
}

.h1 {
  font-weight: $fw-bold;
  font-style: Bold;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;

  @include on-tablet {
    font-size: 48px;
    line-height: 56px;
  }
}

.h2 {
  font-weight: $fw-bold;
  font-style: Bold;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }
}

.h3 {
  font-weight: $fw-semibold;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;

  @include on-tablet {
    font-weight: $fw-bold;
    font-style: Bold;
    font-size: 22px;
    line-height: 31px;
  }
}

.h4 {
  font-weight: $fw-semibold;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;

  @include on-tablet {
    font-size: 20px;
    line-height: 26px;
  }
}

.uppercase {
  font-weight: $fw-bold;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.buttons {
  font-weight: $fw-semibold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

.body {
  font-family: $font-family;
  font-weight: $fw-regular;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

.small {
  font-weight: $fw-semibold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
}
