.back {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  background: none;
  border: none;
  cursor: pointer;

  color: $secondary-color;
  transition: color 0.3s ease;

  &:hover {
    color: $primary-color;
    .text {
      color: $primary-color;
    }
  }
}

.text {
  transition: color 0.3s ease;
}
