.back {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  background: none;
  border: none;
  cursor: pointer;

  color: var(--secondary-color);
  transition: color $duration ease;

  &:hover {
    color: var(--primary-color);
    .text {
      color: var(--primary-color);
    }
  }
}

.text {
  transition: color $duration ease;
}
