.item {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;

  padding: 16px;
  border: 1px solid var(--elements-color);
  background: var(--white-color);

  @include on-tablet {
    flex-direction: row;
  }
  gap: 10px;
}

.img {
  height: 70px;
  width: 70px;
}

.name {
  width: 100%;
  height: 30px;
}

.price {
  height: 30px;
  width: 100px;
}
