.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}

.profileHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--bg-color);
  padding-bottom: 32px;
  border-bottom: 1px solid $elements-color;
  margin-bottom: 40px;
  gap: 16px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $elements-color;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatarPlaceholder {
  font-size: 32px;
  font-weight: 700;
  color: $secondary-color;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 8px;
  flex-grow: 1;

  @include on-desktop {
    margin-left: 24px;
  }
}

.logoutButton {
  padding: 10px 20px;
  height: 40px;

  color: var(--white-color);
  font-size: 14px;
  font-weight: $fw-semibold;

  background-color: var(--primary-color);
  border: none;
  transition: box-shadow 300ms;
  cursor: pointer;

  width: 100%;

  @include on-tablet {
    width: auto;
    margin-left: auto;
  }

  &:hover {
    box-shadow: 0 3px 13px 0 var(--box-shadow-color);
  }
}

.ordersSection {
  .ordersTitle {
    margin-bottom: 24px;
  }
}

.ordersList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.orderCard {
  border: 1px solid $elements-color;
  padding: 24px;
  background-color: $white-color;

  &:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
  }
}

.orderHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid $elements-color;
}

.orderId {
  font-weight: 700;
}

.orderDetails {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.orderInfoLeft {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.orderDelivery {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: right;

  @include on-desktop {
    max-width: 50%;
  }
}
