$color-dark: #313237;
$color-border: #e2e6e9;
$color-button-border: #b4bdc3;

.footer {
  padding: 32px 16px;
  background-color: #fff;
  border-top: 1px solid $color-border;
  box-sizing: border-box;
  height: $footer-height-mobile;

  @include on-tablet {
    padding: 32px 24px;
    height: $footer-height-tablet;
  }

  @include on-desktop {
    padding: 32px 0px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include on-tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @include on-desktop {
      max-width: 1136px;
      margin: 0 auto;
    }
  }

  &__logo {
    @include on-tablet {
      flex: 0 0 192px;
    }

    @include on-desktop {
      flex: 0 0 378.67px;
    }
  }

  &__logo_img {
    height: 28px;
    display: block;

    @include on-tablet {
      height: 32px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      flex-direction: row;
      gap: 32px;
      flex: 1;
      justify-content: center;
    }

    @include on-desktop {
      flex: 0 0 378.67px;
      justify-content: space-between;
      gap: 0;
    }
  }

  &__back_to_top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @include on-tablet {
      flex: 0 0 192px;
      justify-content: flex-end;
    }

    @include on-desktop {
      flex: 0 0 378.67px;
    }
  }

  &__back_button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-button-border;
    cursor: pointer;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: $color-dark;
    }
  }
}
