.footer {
  width: 100%;
  background-color: var(--white-color);

  &__line {
    height: 1px;
    background-color: var(--elements-color);
    margin-bottom: 32px;
    width: 100%;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  &__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding-bottom: 32px;
    margin: 0 auto;
    padding-inline: 16px;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 32px;
    }

    @include on-desktop {
      padding-bottom: 32px;
      padding-inline: 0;
      max-width: 1200px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    @include on-tablet {
      flex-direction: row;
      align-items: center;
      gap: 14px;
    }

    @include on-desktop {
      gap: 106px;
    }
  }

  &__back_to_top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;

    @include on-tablet {
      width: auto;
    }
  }

  &__back_button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border: 1px solid var(--icons-color);
    color: var(--primary-color);
    cursor: pointer;

    @include hover(border-color, var(--primary-color));
  }
}
