.container {
  @include page-grid;
  margin-bottom: 56px;
  column-gap: 16px;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-desktop {
    margin-bottom: 80px;
  }
}

.slider {
  grid-column: 1 / -1;
}

.mainTitle {
  grid-column: 1 / -1;
  margin-bottom: 32px;

  @include on-tablet {
    margin-bottom: 40px;
  }
}
