.product_gallery_wrapper {
  grid-column: 1 / -1;
  display: flex;
  width: 300px;
  margin: 0 auto;

  flex-direction: column;
  height: auto;
  gap: 16px;
  margin-bottom: 40px;

  @include on-tablet {
    flex-direction: row;
    grid-column: 1 / 8;
    height: 400px;
    margin: 0;
    width: 100%;
    max-width: 464px;

    margin-bottom: 91px;
  }

  @include on-desktop {
    flex-direction: row;
    grid-column: 1 / 13;
    height: 464px;
    width: 100%;
    margin-bottom: 91px;
    margin-left: 0;
  }
}

.thumbs_container {
  width: 100%;
  height: 64px;
  flex-shrink: 0;
  order: 2;

  @include on-tablet {
    width: 80px;
    height: 100%;
    order: 0;
  }
}

.myThumbsSlider {
  height: 100%;
  width: 100%;
}

.thumb_item {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
}

.thumb_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #fff;
}

.swiper-slide-thumb-active .thumb-item {
  border: 2px solid #000;
}

.main_container {
  grid-column: 1 / -1;
  height: 300px;
  width: 100%;
  order: 1;

  @include on-tablet {
    flex: 1;
    height: 100%;
  }
}

.myMainSlider {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

:global(.swiper-wrapper) {
  gap: 8px;
  @include on-tablet {
    width: 100% !important;
    max-width: 80px !important;
  }

  @include on-desktop {
    width: 80px !important;
  }
}
