.product_gallery_wrapper {
  display: flex;
  height: auto;
  width: auto;

  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;

  @include on-tablet {
    flex-direction: row;
    margin: 0;
    height: 100%;
    margin-bottom: 91px;
  }

  @include on-desktop {
    flex-direction: row;
    height: 100%;
    margin-bottom: 91px;
    margin-left: 0;
  }
}

.thumbs_container {
  width: 100%;
  height: 64px;
  flex-shrink: 0;
  order: 2;

  @include on-tablet {
    width: 80px;
    height: 100%;
    order: 0;
  }
}

.myThumbsSlider {
  height: 100%;
  width: 100%;
}

.thumb_item {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  height: 100%;

  transition: all $duration;

  &:hover {
    transform: scale(1.1);
    border: none;
  }
}

.thumb_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: transparent;
}

.swiper-slide-thumb-active .thumb-item {
  border: 1px solid var(--primary-color);
}

.main_container {
  grid-column: 1 / -1;
  height: 300px;
  width: 100%;
  order: 1;

  @include on-tablet {
    flex: 1;
    height: 100%;
  }
}

.myMainSlider {
  width: 100%;
  height: 100%;

  img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include on-tablet {
      object-fit: contain;
      margin: 0;
    }

    @include hover(transform, scale(1.1));
  }
}
